[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.9"

[packages]
aiofiles = "*"
aiohttp = "*"
beautifulsoup4 = "*"
boto3 = "*"
ffmpeg = "*"
google-api-python-client = "*"
google-auth-oauthlib = "*"
human-id = "*"
hypercorn = "*"
langchain = "*"
langchain-openai = "*"
llama-index = "*"
moviepy = "*"
nltk = "*"
openai = "*"
opencv-python = "*"
prisma = "*"
protobuf = "*"
pydantic = "==1.10.8"
pydub = "*"
python-levenshtein = "*"
pytz = "*"
quart = "==0.18.1"
quart-cors = "==0.5.0"
quart-session = "*"
werkzeug = "==2.2.2"
random-word = "*"
requests = "*"
stripe = "*"
unstructured = "*"

[dev-packages]
