[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.9"

[packages]
openai = "==0.27.2"
click = "==8.0.3"
itsdangerous = "==1.1.0"
virtualenv = "*"
python-dotenv = "*"
human-id = "*"
llama-index = "==0.6.16"
langchain = "==0.0.187"
ipython = "*"
eventlet = "*"
quart = "==0.18.1"
quart-cors = "==0.5.0"
markupsafe = "*"
hypercorn = "*"
pdfminer-six = "*"
numpy = "*"
tabulate = "*"
nltk = "*"
unstructured = "*"
pdf2image = "*"
install = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth = "*"
prisma = "*"
google-auth-oauthlib = "*"
authlib = "*"
quart-session = "*"
async-oauthlib = "*"
quart-auth = "*"
redis = "*"
quart-redis = "*"
random-word = "*"
levenshtein = "*"
stripe = "*"
python-magic = "*"
pydub = "*"
boto3 = "*"
opencv-python-headless = "*"
bs4 = "*"
ffmpeg-python = "*"
ffprobe-python = "*"
moviepy = {git = 'https://github.com/Zulko/moviepy.git', ref ='v2.0.0.dev2'}

[dev-packages]
