[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.9"

[packages]
openai = "==0.27.2"
prisma = "==0.8.1"
click = "==8.0.3"
itsdangerous = "==1.1.0"
virtualenv = "*"
python-dotenv = "*"
human-id = "*"
llama-index = "*"
langchain = "*"
ipython = "*"
eventlet = "*"
quart = "==0.18.1"
quart-cors = "==0.5.0"
markupsafe = "*"
hypercorn = "*"
pdfminer-six = "*"
numpy = "*"
tabulate = "*"
nltk = "*"
unstructured = "*"
pdf2image = "*"
install = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
google-auth = "*"

[dev-packages]
